@media screen and (max-width: 768px) {
  header p {
    height: 75px;
    line-height: 450%;
    border: 2px solid darkgray;
    border-bottom: 1px solid darkgray;
  }

  #s1 p {
    width: 476px;
    height:121px;
    line-height: 750%;
  }

  #d1, #d2 {
    clear: both;
    height: 248px;}

  div p {
    float: left;
    width: 237px;
    height: 246px;
    line-height: 1500%;
  }

  .left {
    margin-left: 1px;
    border-right: 1px solid darkgray;
  }

  .right {
    border-left: 1px solid darkgray;
  }

  footer p {
    height: 80px;
    line-height: 500%;
    border-bottom: 2px solid darkgray;
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 768px) {
  header p {
    width: 956px;
    height: 97px;
    border-bottom: 0px solid darkgray;
    line-height: 550%;
  }

  #s1 p {
    width: 378px;
    border-left: 0px;
    height: 196px;
    line-height: 1200%;
  }

  div {
    float: left;
  }

  div p {
    width: 188px;
    border-left: 0px;
    border-top: 0px;
    height: 248px;
    line-height: 1550%;
  }

  footer p {
    width: 758px;
    height: 148px;
    border-top: 0px;
    border-left: 0px;
    line-height: 950%;
  }
}